<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>הצעת מחיר</title>
    <style>
        .uniform-color {
            color: #000000; /* Replace with your desired color code */
        }
    </style>
</head>

<body>
<div dir="rtl" style='text-align: right; font-size: 16px;' class="uniform-color">
    <div class="uniform-color">
        שלום רב,   <!-- Text greeting -->
    </div>
    <div class="uniform-color">
        נשמח להצעת מחיר לפריטים הבאים:  <!-- Text introducing the list of items -->
    </div>
    <br>
    {% for item in items %} <!-- Begin loop through each item in the provided 'items' list -->
        <div class="uniform-color">שם: {{ item.name }}</div> <!-- Display the name of the item -->
        <div class="uniform-color">מק"ט: {{ item.cat_num }}</div> <!-- Display the catalog number of the item -->
        <div class="uniform-color">כמות: {{ item.quantity }}</div> <!-- Display the quantity of the item -->
        <br>
    {% endfor %} <!-- End loop through items -->
    <br>
    {% include "signature.html" %}
</div>
<br>
<br>
<div dir="rtl" style='text-align: right; display: flex; flex-direction: row; align-items: center; justify-content: flex-start;' class="uniform-color">
    <img src="https://materiah1.s3.eu-central-1.amazonaws.com/design/materiah_logo.png" alt="Description"
         style="width: 50%; height: auto;"> <!-- Company logo image -->
    <p style="margin: 0 0 0 0;" class="uniform-color">Sent via </p> <!-- Text indicating the method of delivery -->
</div>
</body>
</html>