<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>הצעת מחיר</title>
    <style>
        .uniform-color {
            color: #000000; /* Replace with your desired color code */
        }
    </style>
</head>

<body>
<div dir="rtl" style='text-align: right; font-size: 16px;' class="uniform-color">
    <div class="uniform-color">
        שלום רב,
    </div>
    <div class="uniform-color">
        נשמח להצעת מחיר לפריטים הבאים:
    </div>
    <br>
    {% for item in items %}
        <div class="uniform-color">שם: {{ item.name }}</div>
        <div class="uniform-color">מק"ט: {{ item.cat_num }}</div>
        <div class="uniform-color">כמות: {{ item.quantity }}</div>
        <br>
    {% endfor %}
    <br>
    <div class="uniform-color">בברכה,</div>
    <div class="uniform-color">מרכז האורגנואידים</div>
</div>
<br>
<br>
<div dir="rtl" style='text-align: right; display: flex; flex-direction: row;' class="uniform-color">
    <img src="https://materiah1.s3.eu-central-1.amazonaws.com/design/materiah_logo.png" alt="Description"
         style="width: 20%; height: auto;">
    <p class="uniform-color">Sent via </p>
</div>
</body>
</html>